@using YogaStudio.App.Models.ViewModels
@model OrderFullViewModel

@if (Model == null || Model.OrderPackageViewModels == null || !Model.OrderPackageViewModels.Any())
{
    <div class="container" style="text-align: center; color: red;">
        <h1>You don't have any packages in your shopping cart.</h1>
    </div>
}
else
{
    <div class="container">
        <div hidden="hidden" id="removeGame" class="alert alert-dismissible alert-danger">The package was removed!</div>
        <div hidden="hidden" id="ordered" class="alert alert-dismissible alert-success">Your order was successfully send!</div>
        <h1 style="text-align: center;">@ViewBag.Title</h1>
        <div class="cart" id="myOrder">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        decimal total = 0.00m;
                    }
                    @foreach (var cart in Model.OrderPackageViewModels)
                    {
                        ViewBag.OrderId = cart.OrderId;

                        total += (cart.Package.Price * cart.Units);
                        <tr>
                            <td>@cart.Package.Name</td>
                            <td>
                                <span>@cart.Units</span>
                            </td>
                            <td>@(cart.Package.Price * cart.Units)</td>
                            <td>
                                @Ajax.ActionLink("Remove", "RemovePackage", "Orders", new { area = "", cartId = cart.OrderId, id = cart.PackageId }, new AjaxOptions()
                               {
                                   HttpMethod = "GET",
                                   UpdateTargetId = "myOrder",
                                   InsertionMode = InsertionMode.Replace,
                                   LoadingElementId = "removePackage",
                                   LoadingElementDuration = 3000,
                                   Confirm = "Are you sure you want to remove this package from your shopping cart?"
                               }, new { @class = "btn btn-danger btn-sm" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <h2>Total: $@total</h2>
            <input type="hidden" name="orderId" value="@ViewBag.OrderId" id="order-Id" />
            <div class="form-group">
                <label for="status" class="col-lg-2 control-label">Payment method:</label>
                <div class="col-lg-2">
                    <select class="form-control selectpicker" id="status">
                        <option>Select Payment Method</option>
                        <option>Cash</option>
                        <option>Credit Card</option>
                    </select>
                </div>
            </div>
            <br />
            <br />
            <div class="form-group hidden" id="creditCards">
                <label for="credit-cards" class="col-lg-2 control-label">Credit Cards:</label>
                <div class="col-lg-3">
                    <select class="form-control selectpicker" id="credit-cards">
                        <option>Select Credit Card</option>
                        @foreach (var creditCard in Model.CreditCardViewModels)
                        {
                            <option id="@creditCard.Id">@creditCard.CardNumber</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <br />
            @Ajax.ActionLink("Order now", "PlaceOrder", "Orders", new { area = "", id = ViewBag.OrderId, totalAmount = total }, new AjaxOptions()
           {
               HttpMethod = "GET",
               UpdateTargetId = "myOrder",
               InsertionMode = InsertionMode.Replace,
               LoadingElementId = "ordered",
               LoadingElementDuration = 3000
           }, new { @class = "btn btn-success order-button" })
            <br>
            <br>
        </div>
    </div>
}